libs/
pyopus/*.c
pyopus/*.so
pyopus/*.dll
build/*
libs/*



__pycache__/



# Cython generated C files (optional, if you don't want to track generated C code)
*.cpp

# Build directories
build/
dist/
*.egg-info/
.eggs/

# Compiled extension modules
*.so
*.pyd
*.dll

.vscode/
.idea/

*.log
*.tmp

*.o
*.obj

libs/*.so
libs/*.dll
libs/*.dylib
